.child1 img {
    width: 200px;
}

.nav-flex {
    display: flex;
    flex: 1;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    background: black;
    color: white;
}

.child2 {
    flex: 1;
}

.child {
    display: flex;
}

.text {
    flex: 2;
    line-height: 50px;
    padding: 50px 200px;
    font-size: 1.5rem;
}

.images {
    flex: 1;
    margin-top: 50px;
}

#book-cover {
    width: 200px;
    margin: 0 auto;
    display: block;
}

.title {
    text-align: center;
    font-size: 2rem;
}

#logo {
    width: 300px;
    border-radius: 50%;
}

footer {
    background: black;
    color: white;
    height: 100px;
    margin-top: 200px;
    text-align: center;
    padding-top: 50px;
}

input {
    width: 400px;
    height: 200px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
